@import "utils/variables.scss";
@import "utils/mixins.scss";

body {
    font-family: $font-text;
    max-width: $max-width;
    margin: auto;
    margin-top: 20px;

    @media #{$small-up} {
        margin-top: 40px;
    }
}

.star {

    @each $type,
    $color in ("value": $color-primary, "rest": $color-star) {
        &_#{$type} svg {
            padding: 4px;
            color: $color;
            width: 18px;
            height: 18px;

            @media #{$small-up} {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.header {
    @include margins;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 145px;
        height: 47px;

        @media #{$small-up} {
            width: 210.32px;
            height: 68px;
        }
    }

    nav {
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-primary;
            font-size: 12px;
            font-weight: 500;

            @media #{$small-up} {
                text-transform: lowercase;
                font-size: 24px;

                &::first-letter,
                .capitalize {
                    text-transform: capitalize;
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }

        display: flex;
        gap: 20px;

        @media #{$small-up} {
            gap: 40px;
        }
    }
}

.home {
    @include margins;

    .banner {
        margin: 20px 0;

        @media #{$small-up} {
            margin: 30px 0;
        }

        @media #{$large-up} {
            margin: 50px 0;
        }

        &_container {
            position: relative;
            height: 111px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: $border-radius-img;

            @media #{$small-up} {
                border-radius: $border-radius-banner;
                height: 167px;
            }

            @media #{$large-up} {
                height: 223px;
            }

            img {
                @include img;
                border-radius: $border-radius-img;
                mix-blend-mode: darken;

                @media #{$small-up} {
                    border-radius: $border-radius-banner;
                }
            }

            .banner_text {
                position: absolute;
                top: 50%;
                left: 35%;
                transform: translate(-50%, -50%);
                margin: 0;
                font-size: 24px;
                color: white;
                font-weight: 500;
                white-space: wrap;

                @media #{$small-up} {
                    left: 50%;
                    font-size: 36px;
                    white-space: nowrap;
                }

                @media #{$large-up} {
                    font-size: 48px;
                }
            }
        }
    }

    .gallery {
        background-color: white;
        border-radius: $border-radius-banner;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0px;
        gap: 20px;

        @media #{$small-up} {
            padding-top: 30px;
            background-color: $color-secondary;
        }

        @media #{$large-up} {
            padding-top: 50px;
            gap: 50px;
        }

        &_card {
            position: relative;
            width: 335px;
            height: 255px;

            @media #{$large-up} {
                width: 340px;
                height: 340px;
            }

            img {
                border-radius: $border-radius-img;
                @include img;
                position: relative;
                z-index: 1;
            }
        }

        &_title {
            width: 70%;
            position: absolute;
            top: 80%;
            left: 40%;
            transform: translate(-50%, -50%);
            white-space: wrap;
            z-index: 3;
            color: white;
            font-size: 18px;
            font-weight: 500;

            @media #{$large-up} {
                top: 85%;
            }
        }

        &_gradient {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%);
            border-radius: $border-radius-img;
            z-index: 2;
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

.about {
    @include margins;

    .banner {
        margin-top: 40px;

        &_container {
            position: relative;
            height: 223px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: $border-radius-img;

            @media #{$small-up} {
                border-radius: $border-radius-banner;
            }

            img {
                @include img;
                border-radius: $border-radius-img;
                mix-blend-mode: darken;

                @media #{$small-up} {
                    border-radius: $border-radius-banner;
                }
            }
        }
    }


}

.collapse {
    max-width: 1023px;
    margin: auto;

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;

        border-radius: 0 0 $border-radius-img $border-radius-img;
    }

    &_title {
        height: 20px;
        font-size: 13px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: white;
        cursor: pointer;
        padding: 5px 10px;
        margin-top: 20px;
        border-radius: 5px;

        @media #{$small-up} {
            margin-top: 30px;
            padding: 5px 30px 5px 20px;
        }

        &::after {
            content: url('../assets/chevronUp_mobiles.svg');

            @media #{$small-up} {
                content: url('../assets/chevronUp.svg');
            }
        }

        &.open::after {
            content: url('../assets/chevronDown_mobiles.svg');

            @media #{$small-up} {
                content: url('../assets/chevronDown.svg');
            }
        }

        @media #{$small-up} {
            height: 47px;
            font-size: 20px;
        }

        @media #{$large-up} {
            font-size: 24px;
        }
    }

    &_text {
        font-size: 12px;
        color: $color-primary;
        padding: 0 10px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        max-height: 0;
        overflow: hidden;

        &.open {
            padding: 10px;
            opacity: 1;
            max-height: 250px;
            background-color: $color-secondary;
        }

        @media #{$small-up} {
            font-size: 20px;
        }

        @media #{$large-up} {
            font-size: 24px;
        }
    }
}

.error {
    @include margins;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $color-primary;

    &_404 {
        margin: 100px 0 30px 0;
        font-size: 96px;
        font-weight: 700;

        @media #{$small-up} {
            font-size: 192px;
        }

        @media #{$large-up} {
            font-size: 288px;
        }
    }

    &_text {
        text-align: center;
        font-size: 18px;
        font-weight: 500;

        @media #{$small-up} {
            font-size: 36px;
        }


    }

    &_link {
        margin: 120px 0 0 50px;
        color: $color-primary;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;

        @media #{$small-up} {
            font-size: 18px;
        }

        &:hover {
            text-decoration: underline;
        }

    }
}

.logement {
    @include margins;
    display: flex;
    flex-direction: column;

    &_slideshow {
        margin: 20px 0 20px 0;
        height: 255px;
        position: relative;

        @media #{$small-up} {
            max-width: 1240px;
            height: 415px;
        }

        img {
            @include img;
            border-radius: $border-radius-banner;
        }

        &_arrows {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            .prev::after,
            .next::after {
                content: "";
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
                width: 80px;
                height: 80px;

                @media #{$small-up} {
                    top: 50%;
                }
            }

            .prev::after {
                background: url('../assets/arrowLeft_mobiles.svg') no-repeat;
                left: 10px;
                cursor: pointer;

                @media #{$small-up} {
                    left: 20px;
                    background: url('../assets/arrowLeft.svg') no-repeat;
                }
            }

            .next::after {
                background: url('../assets/arrowRight_mobiles.svg') no-repeat;
                right: -45px;
                cursor: pointer;

                @media #{$small-up} {
                    right: -10px;
                    background: url('../assets/arrowRight.svg') no-repeat;
                }
            }
        }
    }

    &_presentation {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media #{$small-up} {
            flex-direction: row;
        }

        &_text {
            &_name {
                color: $color-primary;
                font-size: 36px;
                font-weight: 500;
                margin: 10px 0 0 0;
            }

            &_location {
                color: $color-primary;
                font-size: 18px;
                font-weight: 500;
                margin: 10px 0 0 0;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
            }

            li {
                list-style-type: none;
                color: white;
                font-size: 10px;
                font-weight: 500;
                list-style-type: none;
                background-color: $color-primary;
                padding: 5px;
                border-radius: $border-radius-img;
                text-align: center;
                margin: 0 10px 5px 0px;

                @media #{$small-up} {
                    font-size: 14px;
                }
            }
        }

        &_host {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media #{$small-up} {
                flex-direction: column-reverse;
                min-width: 200px;
                justify-content: flex-end;
            }

            &_profil {

                display: flex;
                gap: 10px;

                &_name {
                    color: $color-primary;
                    font-size: 18px;
                    font-weight: 500;
                }

                &_img {
                    height: 32px;
                    width: 32px;
                    margin: auto;

                    @media #{$small-up} {
                        height: 64px;
                        width: 64px;
                    }

                    img {
                        @include img;
                        border-radius: 50%;
                    }
                }
            }

            &_rating {
                margin-top: 20px;
            }
        }
    }

    &_collapse {
        z-index: 2;
        display: flex;
        gap: 50px;
        flex-direction: column;
        gap: 20px;

        @media #{$small-up} {
            flex-direction: row;
        }

        .collapse_title {
            margin-top: 0;
            border-radius: $border-radius-img;
        }

        .collapses {
            flex: 1;
        }
    }
}

.footer {
    background: $color-footer;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 60px 0 20px 0;
    align-items: center;
    gap: 20px;

    img {
        width: 122px;
        height: 39.44px;
    }

    p {
        color: white;
        font-size: 12px;
        font-weight: 500;

        @media #{$small-up} {
            font-size: 24px;
        }
    }
}