@import "utils/variables.scss";
@import "utils/mixins.scss";
@import '../pages/styles/home';
@import '../pages/styles/about';
@import '../pages/styles/error';
@import '../pages/styles/logement';
@import '../components/styles/header';
@import '../components/styles/collapse';
@import '../components/styles/footer';
@import '../components/styles/host';
@import '../components/styles/slideshow';
@import '../components/styles/starIcon';

body {
    font-family: $font-text;
    max-width: $max-width;
    margin: auto;
    margin-top: 20px;

    @media #{$small-up} {
        margin-top: 40px;
    }
}
