@mixin img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@mixin margins {
    margin: 20px;

    @media #{$small-up} {
        margin: 30px;
    }

    @media #{$large-up} {
        margin: 0 100px;
    }
}