// police
$font-text: 'Montserrat', sans-serif;

// les couleurs
$color-primary: #FF6060;
$color-secondary: #F6F6F6;
$color-star: #E3E3E3;
$color-footer : #000000;

// border-radius
$border-radius-banner: 25px;
$border-radius-img: 10px;


/* -------------------------
MEDIA QUERIES 
----------------------------*/
// Largeur max
$max-width: 1440px;
$max-width-body: 1240px;

// breakpoints
$small: 768px;
//$medium: 992px;
$large: 1200px;

$small-up: "only screen and (min-width: #{$small})";
//$medium-up: "only screen and (min-width: #{$medium})";
$large-up: "only screen and (min-width: #{$large})";